<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Buy now</button>
            {{!-- <ul>
                <li>{{course.level}}</li>
            </ul> --}}
        </div>

        <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            <img height="315" width="560" src='{{course.image}}' alt="" />
            <p>{{course.description}}</p>
            <a href='/courses/{{id}}/edit' class='btn btn-primary'>
              Edit
            </a>
            {{!-- this should be a form with method post to
            call DELETE method: /course/id?_method=DELETE --}}
            <a data-method="delete" href='/courses/{{id}}/delete' class='btn btn-primary'>
              Delete
            </a>
        </div>
    </div>
</div>